.cuadro1{
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
}
.cuadro-morado{
  background-color: purple;
  width: 100px;
  height: 100px;
  position: relative;
  left: 50px;
  top: 50px;
}
.cuadro-amarillo{
  background-color: yellow;
  width: 50px;
  height: 50px;
  position: relative;
  left: 50px;
  bottom: 50px;
}
.cuadro2{
  background-color: blue;
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
}
.cuadro-verde{
  background-color: green;
  width: 100px;
  height: 100px;
  position: relative;
  left: 50px;
  top: 50px;
}
.cuadro-negro{
  background-color: black;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 100px;
}
